@model final.Models.ViewModels.CatalogAddViewModel

@{
    ViewBag.Title = "AddCatalog";
    Layout = "_Layout";
}

<h2>Заполните форму для создания каталога</h2>
<br>
<br>
<br>

<section class="vh-100" style="background-color: #ff7261;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">

                <h1 class="text-white mb-4">Каталог</h1>
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
                        <form enctype="multipart/form-data" asp-action="Add" asp-controller="Catalog" asp-antiforgery="true">
                            <div class="validation" asp-validation-summary="All"></div>
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Название</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <textarea asp-for="Name" rows="2" cols="50"></textarea>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Основное фото</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <input asp-for="Photo" type="file">
                                </div>
                            </div>
                            <hr class="mx-n3">

                            <button type="submit" class="btn btn-primary btn-lg">Добавить</button>
                            <hr class="mx-n3">
                        </form>


                    </div>
                    <div class="option">
                        <p> Все каталоги <a asp-action="Index" asp-controller="Catalog">просмотреть</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}