
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@model final.Models.ViewModels.CatalogDetailsViewModel
  <style>
   .line {
    border-bottom: 3px solid #f00; 
   }
  </style>

@{
    ViewBag.Title = "Подробно";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1> @Model.Name </h1>
            <br>
            <div>
                <form asp-action="Edit" asp-controller="Catalog" method="get" asp-route-Id ="@Model.Id">
                    <button class="btn badge-info p-3" type="submit">Изменить название</button>
                </form> 
                <br>
                <form asp-action="DeleteRequest" asp-controller="Catalog" method="get" asp-route-Id ="@Model.Id">
                    <button class="btn badge-info p-3" type="submit">Удалить</button>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <img src="@Model.Photo" class="card-img-top"   alt="...">
        </div>
    </div>
</div>
<br>
<br>

<div class="line"></div>
<div class="container-fluid">
    <br>
    <div class="row">
        @foreach (var picture in Model.Pictures)
        {
            <a class="p-3 border-dark border-3" asp-action="Detail" asp-controller="Picture" asp-route-id="@picture.Id">
                <img src="@picture.Photo" class="card-img-top" width="100" height="100" alt="...">
            </a>
        }
        @if (Model.Pictures.Count() == 0)
        {
            @for (int i = 0; i < 1; i++)
            {
                <div class="card">
                    <img src="/Files/nofoto.jpg" class="card-img-top" width="100" height="100" alt="...">
                </div>
            }
        }
        <br>
    </div>
</div>
<br>
<br>
<div class="line"></div>



