@model final.Models.ViewModels.IndexViewModel

@{
    ViewBag.Title = "All places";
    Layout = "_Layout";
}

<h2>Все каталоги</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
  @foreach (var catalog in Model.CatalogViewModels)
 {
     
     
     <div class="card m-3 " style="width: 18rem;">
         <a asp-action="Detail" asp-controller="Catalog" asp-route-id="@catalog.Id">
            <img src="@catalog.Photo" class="card-img-top border border-dark border-5" width="200" height="200" alt="...">
         </a> 
         <div class="card-body border border-dark border-5">
             <a asp-action="Detail" asp-controller="Catalog" asp-route-id="@catalog.Id">@catalog.Name</a>

         </div>
         <ul class="list-group  list-group-flush">
             <li class="list-group-item border border-dark border-5">КАТАЛОГ</li>
             <li class="list-group-item border border-dark border-5"> @catalog.PhotoCount photos</li>

         </ul>
         <br>
     </div>
   
 }
  
  <div class="container-fluid">
      <div class="row">
       @if (Model.PageViewModel.HasPreviousPage)
       {
           <a asp-action="Index"
              asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
              class="btn btn-outline-dark">
               <i class="glyphicon glyphicon-chevron-left"></i>
               Назад
           </a>
       }
       @if (Model.PageViewModel.HasNextPage)
       {
           <a asp-action="Index"
              asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
              class="btn btn-outline-dark">
               Вперед
               <i class="glyphicon glyphicon-chevron-right"></i>
           </a>
       }
     </div>
      </div>
  </div>
