@model final.Models.ViewModels.PictureAddViewModel

@{
    ViewBag.Title = "AddPicture";
    Layout = "_Layout";
}

<h2>Добавить картинку</h2>
<br>

<section class="vh-100" style="background-color: #ffc107;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-300">
            <div class="col-xl-9">

                <h1 class="text-white mb-4">Картинка</h1>
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
                        <form enctype="multipart/form-data" asp-action="Add" asp-controller="Picture" asp-antiforgery="true">
                            <div class="validation" asp-validation-summary="All"></div>

                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">добавить фото</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <input asp-for="Photo" type="file">
                                </div>
                            </div>
                            <hr class="mx-n3">

                            <button type="submit" class="btn btn-primary btn-lg">Добавить</button>
                            <hr class="mx-n3">
                        </form>


                    </div>
                    <div class="option">
                        <p> Все картинки <a asp-action="Index" asp-controller="Picture">просмотреть</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}