@using Microsoft.AspNetCore.Mvc.TagHelpers
@model final.Models.Picture

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Удаление</h2>

<h3>Вы действительно хотите удалить данную позицию ?</h3>
<br>
<p> Название :  @Html.DisplayFor(с => с.Name)</p>
<br>
<form asp-action="Del" asp-route-id="@Model.Id" method="POST">
    <button class="btn-danger btn">Удалить</button>
</form>
<br>
<a asp-action="Index">Вернутся к списку</a>