
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@model final.Models.ViewModels.PictureDetailsViewModel
  <style>
   .line {
    border-bottom: 3px solid #f00; 
   }
  </style>

@{
    ViewBag.Title = "Подробно";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div>
        
        <div class="col-md-12">
            <img src="@Model.Photo" class="card-img-top"   alt="...">
        </div>
        
        <div class="col-md-8">
            <h1> @Model.Name </h1>
            <br>
            <div class="row">
                 <div class="p-3">
                <form asp-action="Edit" asp-controller="Picture" method="get" asp-route-Id="@Model.Id">
                    <button class="btn badge-info p-3" type="submit">Редактировать</button>
                </form>
                </div>
                <div class="p-3">
                <form asp-action="DeleteRequest" asp-controller="Picture" method="get" asp-route-Id="@Model.Id">
                    <button class="btn badge-info p-3" type="submit">Удалить</button>
                </form>
                 </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<div class="line"></div>



