@model final.Models.ViewModels.PictureViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2> Переименование картинки</h2>
<br>
<section class="vh-300" style="background-color: #ff7261;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">

                <h1 class="text-white mb-4">Картинка</h1>
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
                        <div class="col-md-12">
                            <img src="@Model.Photo" class="card-img-top"   alt="...">
                        </div>
                        
                        <form enctype="multipart/form-data" asp-action="Edit" asp-controller="Picture" asp-antiforgery="true">
                            <div class="validation" asp-validation-summary="All"></div>
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Название</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <textarea asp-for="Name" rows="2" cols="50"></textarea>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Добавить в Каталог</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <select asp-for="CatalogId" asp-items="ViewBag.CatalogList">
                                        <option value="">выберите каталог</option>
                                    </select>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            


                            <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
                            <hr class="mx-n3">
                            <input asp-for="Id" type="hidden"/>
                            <input asp-for="Photo" type="hidden"/>
                        </form>


                    </div>
                    <div class="option">
                        <p> Все картинки <a asp-action="Index" asp-controller="Picture">просмотреть</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
