@model final.Models.ViewModels.IndexPictureViewModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<User> UserManager

@{
    ViewBag.Title = "All places";
    Layout = "_Layout";
}
<div class="row">
    <h2>Все картинки</h2>   
    @if (User.Identity.IsAuthenticated)
      {
          <form method="get" class="p-1" asp-action="Add" asp-controller="Picture">
              <input type="submit" class="btn btn-primary" value="добавить картинку">
          </form>
      }
    
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
 
         
    @foreach (var picture in Model.PictureViewModels)
    {
        <div class="card m-3" style="width: 18rem;">
            <a asp-action="Detail" asp-controller="Picture" asp-route-id="@picture.Id">
                <img src="@picture.Photo" class="card-img-top" width="200" height="200" alt="...">
            </a>
            <div class="card-body">
                <a asp-action="Detail" asp-controller="Picture" asp-route-id="@picture.Id">@picture.Name</a>
            </div>
            <br>
        </div>

    }

    <div class="container-fluid">
        <div class="row">
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                   class="btn btn-outline-dark">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Назад
                </a>
            }
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                   class="btn btn-outline-dark">
                    Вперед
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            }
        </div>
    </div>
</div>
