﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FinaL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand text-light" asp-area="" asp-controller="Fotobank" asp-action="Index">Foto bank</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    <li class="nav-item p-2">
                        <form method="get" asp-action="Index" asp-controller="Fotobank">
                            <input type="submit" class="btn btn-primary" value="на главную">
                        </form>
                    </li>
                    <li class="nav-item p-2">
                        <form method="get" asp-action="Index" asp-controller="Picture">
                            <input type="submit" class="btn btn-primary" value="все картинки">
                        </form>
                    </li>
                    <li class="nav-item p-2">
                        <form method="get" asp-action="Index" asp-controller="Catalog">
                            <input type="submit" class="btn btn-primary" value="все каталоги">
                        </form>
                    </li>



                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item p-2">
                            <form method="get" asp-action="Add" asp-controller="Picture">
                                <input type="submit" class="btn btn-primary" value="добавить картинку">
                            </form>
                        </li>
                        <li class="nav-item p-2">
                            <form method="get" asp-action="Add" asp-controller="Catalog">
                                <input type="submit" class="btn btn-primary" value="добавить каталог">
                            </form>
                        </li>

                        <li class="nav-item p-2">
                            <form method="post" asp-action="Logout" asp-controller="Account">
                                <input type="submit" class="btn btn-info" value="выход">
                            </form>
                        </li>
                        <li class="nav-item p-2">
                            <span class="nav-link text-light"> Hello, @User.Identity.Name</span>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item p-2">
                            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
                        </li>
                        <li class="nav-item p-2">
                            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - author of the work - <a asp-area="" asp-controller="Catalog" asp-action="Index">Djavad</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>