﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@model final.Models.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Личный кабинет</h2>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">

            <br>

            @if (Model == null)
            {
                <br>

                <h3> нет данных </h3>
            }
            else
            {
                <div class="row">

                    
                    <div class="d-flex flex-column bd-highlight">

                        <div class="p-2 bd-highlight">почта или логин - @Model.UserName</div>
                        <div class="p-2 bd-highlight">Имя - @Model.Name</div>
                        <div class="p-2 bd-highlight">Фамилия - @Model.Surname</div>
                       

                    </div>

                </div>
            }
        </div>
        <div class="col-md-4">

          

        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}